.card {
    margin: 10px;
    background-color: rgb(101, 101, 101);
    padding: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 0 25%;
    gap: 5px;
    flex-direction: column;
    height: 50vh;
    border: 2px solid red;

    .pic {
        height: 280px;
        max-width: 180px;
        border-radius: 10px;
        padding: 5px;
        display: flex;
        align-items: center;
    }

    .title {
        padding: 5px;
        flex-wrap: wrap;
        text-align: center;
    }
}
